@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  padding: 15px 0;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 2px solid lightgray;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2.5%;
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo img {
  width: 70px;
  margin-bottom: auto;
  margin-top: auto;
}

.logo h1 {
  margin-left: 2.5%;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  text-decoration: underline;
  color: #007bff;
}

nav {
  margin-left: 36%;
  width: 30%;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

nav ul li {
  margin-left: 30px;
  padding-left: 5%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

nav ul li:nth-child(3) {
  border-left: 2px solid lightgray;
}

.mission {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.ubadge {
  margin-top: 50%;
  margin-bottom: 50%;
  text-align: center;
  width: 120px;
  border: solid 1px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  border-color: darkgray;
  background-color: darkgray;
}

.menber {
  border-color: darkcyan;
  background-color: darkcyan;
}

.mission-button {
  width: 120px;
  background-color: white;
  color: black;
  border: 1px solid #4caf50;
  margin-top: 42.5%;
  height: 45px;
  margin-bottom: 40.5%;
  border-color: black;
  border-radius: 5px;
}

.exit {
  border-color: red;
  color: red;
}

.rocket-section {
  padding: 30px 70px;
}

.rocket-section ul {
  gap: 30px;
}

.rocket {
  height: 100%;
  gap: 20px;
}

.rocket h2 {
  font-size: 1.19rem;
  font-weight: 600;
}

.rocket-img {
  width: 200px;
  height: 180px;
}

.rocket-body {
  width: 90%;
  height: 100%;
  padding: 0 5px;
}

.Profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.missions-profile {
  width: 50%;
}

.profile-title {
  font-size: 20px;
  margin-top: 20px;
}

.rockets-profile {
  width: 50%;
}

.profile-li {
  height: 50px;
}

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

* ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: "Roboto", sans-serif !important;
}
/*# sourceMappingURL=App.css.map */